/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.label {
-fx-font-size: 21px;
-fx-font-weight: bold;
-fx-text-fill: #333333;
-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 ); /*dropshadow捣e椋耗：型、RGBA色、模糊程度、度、水平位移、垂直位移*/
}
 
#welcome-text {
-fx-font-size: 72px;
-fx-font-family: "Serif";
-fx-fill: #818181;
-fx-font-weight: bold;
-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 2, 0.5 , 0 , 0 ); /*innershadow捣e椋耗：型、RGBA色、模糊程度、度、水平位移、垂直位移，位移部份被填充*/
}
#actiontarget {
-fx-fill: FIREBRICK;
-fx-font-size: 18px;
-fx-font-weight: bold;
-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}
 
.button {
-fx-font-size: 24px;
-fx-text-fill: white;
-fx-font-family: "Serif";
-fx-font-weight: bold;
-fx-background-color: linear-gradient(#61a2b1, #2A5058);
-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
 
.button:hover {
-fx-background-color: linear-gradient(#2A5058, #61a2b1);
}